.service__title1 {
  font-size: 24px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: #444;
  margin-top: 25px;
  letter-spacing: 0.2px;
}
.faq__title1 {
  font-family: 'Montserrat', sans-serif;
  color: #444;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 10px;
}
.pos_right {
  position: absolute;
  right: 0.5rem;
}
